<ion-header>
    <ion-navbar>
        <ion-title>
            Mi Tienda
        </ion-title>

        <ion-buttons end class="conjunto">
            <button ion-button icon-only>
                <ion-icon name="cart"></ion-icon>
                <ion-badge color="danger" class="carrito-numero" *ngIf="_cp.items.length>0">{{_cp.items.length}}</ion-badge>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row wrap>
            <ion-col col-6 *ngFor="let item of _pp.productos" [navParams]="{producto: item}" [navPush]="productoPage">
                <img [src]="item.codigo | imagen">
                <p>
                    {{item.producto}}
                    <br> {{item.precio_compra | currency:'USD':true}}
                </p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-infinite-scroll (ionInfinite)="siguiente_pagina($event)" [enabled]="hayMas">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>